MSWindows/Windows/bin/
MSWindows/Windows/obj/
MSWindows/WindowsSetup/Debug/
MSWindows/WindowsSetup/Release/
MSWindows/FFMPEGWrapper.suo
Mac/build/
*.pyc
*.pfx
*~
pcfpfxpassword.yaml
Mac/DMG/*.dmg
/Mac/Miro Video Converter.xcodeproj/*.pbxuser
/Mac/Miro Video Converter.xcodeproj/*.perspectivev3
